@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
@font-face {
    font-family: 'proxima';
    src: url("../font/FontsFree-Net-proxima_nova_reg-webfont.ttf") format("truetype");
}
/* t{
    grid-template-columns: (30%, calc(70% - 30px));
} */


        /* range style */
        input[type="range"][multiple] {
            display: block;
            height: 1em;
            margin: 0;
            pointer-events: none;
            background-color: red;
          }
          input[type="range"][multiple] + input[type="range"][multiple] {
            margin-top: -1em;
          }
  
          input[type="range"]::-webkit-slider-thumb {
            pointer-events: all;
          }
          */ input[type="range"]::-moz-range-thumb {
            pointer-events: all;
          }
  
          input[type="range"]::-ms-thumb {
            pointer-events: all;
          }
          /* range style */